canvas {
  border: 1px solid rgb(70, 70, 70);
  background-color: rgb(255, 255, 255);
  cursor: crosshair;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0px auto;
}

.buttons button {
  display: inline-flex;
  margin: 20px auto 0px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.or {
  display: block;
  text-align: center;
  font-style: italic;
  padding: 10px 0;
}

#clear {
  background-color: #c55a66;
}

#clear:hover {
  background-color: #c82333;
}

.upload {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.whitebg {
  margin: 0 5px;
  padding: 0 5px;
  background-color: white;
  color: dodgerblue;
  border: 2px solid rgb(16, 114, 211);
  border-radius: 5px;
  font-size: 80%;
}

input[type="file"] {
  display: none;
}

label {
  display: inline-flex;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
label:hover {
  background-color: #3898ff;
}
